DATABASE_URL="[DBMS]://[user]:[password]@[host]/[db name]?schema=public"
BE_BASE_URL="https://[[ Ngrok Code ]].ngrok-free.app" // not required ngrok
EMAIL_USER="[[ Your gmail ]]"
GOOGLE_APP_PASSWORD="[[ 16-digit password ]]"
FE_RESET_PASSWORD_URL="http[s]://[[ Your FE domain ]]/resetpass"